body {
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.todo-container {
    width: 300px;
    padding: 10px 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    border-radius: 10px;
}


.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 10px;
}

.todo-button {
    width: 100%;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    font-weight: bolder;
    cursor: pointer;
}