* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-banner {
    background-color: black;
}

.banner-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 43px;
    transition: 0.2s;
}

.banner-info p {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 450;
    letter-spacing: 1px;
    color: white;
}

.banner-info p:hover {
    cursor: pointer;
    text-decoration: underline;    
}

.banner-info img {
    width: 20px;
    font-weight: normal;
    vertical-align: middle;
}

.nav-logos-container {
    padding-inline: 100px;
    padding-top: 25px;
    padding-bottom: 20px;
}

.nav-logos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.nav-logo-search {
    width: 22px;
}

.nav-logo-zilbil {
    width: 100px;
}

.nav-logo-cart {
    width: 50px;
}

.nav-inks-container {
    
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
    gap: 20px;
}

.nav-links a {
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

