* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-banner {
    background-color: black;
}

.banner-info {
    flex-direction: row;
    height: 43px;
    transition: 0.2s;
}

.banner-info p {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 450;
    letter-spacing: 1px;
    color: white;
}

.banner-info p:hover {
    cursor: pointer;
    text-decoration: underline;    
}

.banner-info img {
    width: 20px;
    font-weight: normal;
    vertical-align: middle;
}

.nav-logos-container {
    padding-inline: 100px;
    padding-top: 25px;
    padding-bottom: 20px;
}

.nav-logos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.nav-logo-search {
    width: 22px;
}

.nav-logo-zilbil {
    width: 100px;
}

.nav-logo-cart {
    width: 50px;
}

.nav-links {
    padding-bottom: 30px;
    gap: 20px;
}

.nav-links a {
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.header-section img {
    width: 100%;
}

.product-heading {
    font-family: Arial, Helvetica, sans-serif;
    font-stretch: expanded;
    font-size: x-large;
    padding-block: 40px;
}

.products {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 75px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-bottom: 60px;
    font-family: Arial, Helvetica, sans-serif;
}

.products-container {
    flex-direction: column;
    border: 1px solid black;
    border-radius: 3.5%;
    padding: 20px; 
    transition: .2s ease-in-out;
}

.products-container:hover {
    cursor: pointer;
    p1 {
        text-decoration: underline;
    }
    img {
        transform: scale(1.02);
    }
}

.products-container img {
    border: 0.1px;
    border-radius: 1.5%;
    width: 340px;
}

.products-container p1 {
    font-weight: bold;
    padding-block: 10px;
}

.products-container p2 {
    font-weight: bolder;
    color: gray;
}

footer, .sub-footer {
    color: white;
    background-color: black;
    padding-inline: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

.footer-logo img {
    width: 150px;
}

.social-icons {
    gap: 10px;
    img {
        vertical-align: middle;
        width: 25px;
    }
}

.upper-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 30px;
}


.lower-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 70px;
}

.contact{
    h3{
        padding-top: 45px;
        padding-bottom: 20px;
        font-size: x-large;
    }
    h5 {
        font-size: large;
        color: gray;
    }
    .phone {
        padding-top: 5px;
        padding-bottom: 15px;
    }
    .contact-email {
        padding-top: 5px;
    }
}

.company {
    h3 {
        padding-bottom: 20px;
        font-size: x-large;
    }
    h5 {
        font-size: large;
        color: gray;
        padding-block: 5px;
    }
}

.support {
    h3 {
        padding-top: 60px;
        padding-bottom: 20px;
        font-size: x-large;
    }
    h5 {
        font-size: large;
        color: gray;
        padding-block: 5px;
    }
}

.newsletter {
    padding-bottom: 20px;
    font-size: large;
}

.email-container {
    display: flex;
    align-items: center;
    border: 1px solid gray;
    border-radius: 25px;
    overflow: hidden;
}

.email-input {
    border: none;
    outline: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    background-color: transparent;
    color: #ffff;
    flex: 1;
}

.email-input::placeholder {
    color: gray;
}

.email-button {
    background: none;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    img {
        width: 16px;
    }
}

.sub-footer {
    font-size: small;
    color: gray;
    padding-block: 50px;
}

