* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-banner {
    background-color: black;
}

.banner-info {
    flex-direction: row;
    height: 43px;
    transition: 0.2s;
}

.banner-info p {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 450;
    letter-spacing: 1px;
    color: white;
}

.banner-info p:hover {
    cursor: pointer;
    text-decoration: underline;    
}

.banner-info img {
    width: 20px;
    font-weight: normal;
    vertical-align: middle;
}

.nav-logos-container {
    padding-inline: 100px;
    padding-top: 25px;
    padding-bottom: 20px;
}

.nav-logos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.nav-logo-search {
    width: 22px;
}

.nav-logo-zilbil {
    width: 100px;
}

.nav-logo-cart {
    width: 50px;
}

.nav-links {
    padding-bottom: 30px;
    gap: 20px;
}

.nav-links a {
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.header-section img {
    width: 100%;
}


.products {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 90px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.product1 {
    flex-direction: column;
    border: 1px solid black;
    border-radius: 3.5%;
    padding: 15px;
}

.product2 {
    flex-direction: column;
    border: 1px solid black;
    border-radius: 3.5%;
    padding: 15px;
}

.product3 {
    flex-direction: column;
    border: 1px solid black;
    border-radius: 3.5%;
    padding: 15px;
}

.products img {
    width: 340px;
}

.products p1 {
    font-weight: bold;
}

.products p2 {
    font-weight: bold;
    color: gray;
}

footer, .sub-footer {
    color: white;
    background-color: black;
    padding-inline: 100px;
}

.footer-logo img {
    width: 120px;
}

.social-icons img {
    vertical-align: middle;
    background-color: white;
    width: 25px;
}

.upper-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lower-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.email {
    padding-inline: 85px;
}


