@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    background-color: cadetblue;
}

.container {
    background-color: #240024;
    padding: 2rem;
    border-radius: 1rem;
    min-height: 45vh;
    width: 55vh;
    font-family: 'Poppins', sans-serif;
}

form {
    margin: 2rem 0 1rem 0;
    font-weight: bold;
}

form select,
button,
input {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #e0dede;
}

h2, p, .msg, i {
    color: #e0dede;
}

form input {
    border: 3px solid lightgreen;
    font-size: 1rem;
    height: 3rem;
    padding-left: 0.5rem;
}

.dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.dropdown i {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.select img {
    max-width: 2rem;
}

.select {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    border-radius: 0.5rem;
    border: 1px solid lightgreen;
}

.select select {
    font-size: 1rem;
    width: auto;
}

.msg {
    margin: 2rem 0 2rem 0;
    font-family: Arial, Helvetica, sans-serif;
}

form button {
    height: 3rem;
    background-color: #4c2399;
    color: #fff;
    font-size: 1.15rem;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}
